/* src/components/Education.css */
.education {
    padding: 60px 20px;
    text-align: center;
    background-color: #0B6477;
}

.education h2 {
    color: #45DFB1;
    margin-bottom: 40px;
    font-size: 2.5em;
}

.education-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.education-card {
    background: #213A57;
    color: #45DFB1;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1), -8px -8px 15px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 60%;
    position: relative;
}

.education-card h3 {
    margin: 10px 0;
    font-size: 1.5em;
}

.education-card h4 {
    font-size: 1.1em;
    margin: 5px 0;
    color: #45DFB1;
}

.education-card .duration {
    font-style: italic;
    margin: 12px 0;
    color: #45DFB1;
}

.education-card:hover {
    transform: translateY(-10px);
    box-shadow: 12px 12px 25px rgba(0, 0, 0, 0.2), -12px -12px 25px rgba(255, 255, 255, 0.6);
}

.education-card p {
    font-size: 1.1em;
    line-height: 1.5;
}